*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
#navbar{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar img{
    width: 30%;
}
#navmenu{
    display: flex;
    gap: 10px;
}
.tagsbuttons{
    display: flex;
    gap:10px
}
#main{
    margin: auto;
    width: 80%;
   
}